.x-grid3-cell-first .x-grid3-cell-inner {
    padding-left:0 !important;
}
.x-grid3-row-selected .x-grid3-row-level0 {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(/shared/icons/silk/wrench.png);
}
.x-grid3-cell-first .x-grid3-row-level0 {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(/shared/icons/silk/wrench.png);
}

.x-grid3-row-selected .x-grid3-row-level1 {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(/shared/icons/silk/textfield_key.png);
}
.x-grid3-cell-first .x-grid3-row-level1 {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(/shared/icons/silk/textfield_key.png);
}

.x-grid3-row-selected .x-grid3-row-level2 {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(/shared/icons/silk/asterisk_orange.png);
}
.x-grid3-cell-first .x-grid3-row-level2 {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(/shared/icons/silk/asterisk_orange.png);
}

.x-grid3-row-selected .x-grid3-row-level3 {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(/shared/icons/silk/information.png);
}
.x-grid3-cell-first .x-grid3-row-level3 {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(/shared/icons/silk/information.png);
}

.x-grid3-row-selected .x-grid3-row-level4 {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(/shared/icons/silk/error.png);
}
.x-grid3-cell-first .x-grid3-row-level4 {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(/shared/icons/silk/error.png);
}

.x-grid3-row-selected .x-grid3-row-level10 {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(/shared/icons/silk/link.png);
}
.x-grid3-cell-first .x-grid3-row-level10 {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(/shared/icons/silk/link.png);
}

.x-grid3-row-selected .x-grid3-row-level11 {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(/shared/icons/silk/link_break.png);
}
.x-grid3-cell-first .x-grid3-row-level11 {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(/shared/icons/silk/link_break.png);
}
